/************** SMLL **************/
/*________________________________*/

body {
	margin: 0;
}

.container {
	width: 100%;
	height: 100%;
}

/************** LOGO ***************/

.logo {
	float: left;
	margin-left: 8px;
	margin-top: 15px;
	margin-bottom: 6px;
}

.logo a img {
	height: 30px;
	line-height: 55px;
}

/************** MENU ***************/

.bar-top {
	border-bottom: 6px;
	border-bottom-style: solid;
	border-color: #A7A9AC;
	position: fixed; 
	width: 100%;
 	
}

.main-nav {
 	background-color: #393839;
 	overflow: auto;
}

.main-menu {
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: 8px;
	float: left;
}

.menu {
	overflow: hidden;
	margin: 0;
	padding: 0;
	
}
	.menu li {
	display: inline-block;
	margin-right: 10px;
	}

	.menu li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 300;
	font-size: 15px;

	}

	.menu li a:hover {
    color: #FFD94E;
}




	/************** MAIN ***************/

	.content {
		background-color: #FFF;
		font-family: 'Roboto', arial, sans-serif;
		font-size: 18px;
		font-weight: 300; 
		color: #58595B;
		padding: 3%;
	}

	h1 {
		font-family: 'Roboto', arial, sans-serif;
		font-weight: 400; 
		font-size: 25px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	h2 {
		font-size: 20px;
		font-weight: 400;
	}

	/************** WELCOME ***************/

	.welcome {
		padding-top: 97px;
	}

	.about {
		overflow: auto;
	}

	.about > img {
		width: 100%;
		display: none;
	}

	/************** SERVICES ***************/

	.services {
		padding-top: 60px;
	}
	.services article {
		width: 80%;
		display: block;
		font-size: 15px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}

	.services article h2 {
		text-align: center;
	}

	.services article img {
		width: 100%;
		padding: 0 3%;
	}


	/************** WORK ***************/

	.second_menu {
		margin-bottom: 10px;
		padding-left: 0;
	}
	.second_menu li {
		display: inline-block;
	}

	.second_menu li a {
			text-decoration: none;
			text-transform: uppercase;
			color: #393839;
			font-family: 'Roboto', arial, sans-serif;
			font-weight: 400;
			font-size: 20px;
			margin-right: 7%;
	}

		.second_menu li a:hover {
	    color: #FFD94E;
		}

	.work {
		padding-top: 60px;
		overflow: auto;
		min-height: 400px;
	}

	.thumbs {
		overflow: auto;
		padding-left: 0;
		margin: 0;
	}

	.thumbs li {
		display:block;
		width: 90%;
		margin: 0 auto;
	}

	.thumbs li img {
		width: 100%;
	}

	.is-shown {
		display: inline-block;
	}

	.is-hidden {
		display: none;
	}

	

	/************** FOOTER ***************/

	.bar-bottom {
		background-color: #393839;
		border-top: 20px;
		border-top-style: solid;
		border-color: #A7A9AC;
		overflow: auto;
	}


	.bar-bottom p {
		float: right;
		font-family: 'Roboto', arial, sans-serif;
		font-size: 12px;
		color: #A7A9AC;
		margin: 0;
		line-height: 80px;
		padding-right: 15px;
	}

	.connect {
		padding: 0;
		margin: 0;
		float: left;
	
	}

	.connect li {
		display: inline-block;
		list-style-type: none;
		list-style: none;
		padding-left: 10px;
		padding-top: 20px;


	}

	.connect li img {
		height:40px;
		margin: 0;

	}

/******************* 502PX *******************/
/*___________________________________________*/	

@media (min-width: 502px) {

	.container {
			margin: 0 auto;
	}

	.bar-top {
			border-bottom: 20px;
			border-bottom-style: solid;
			border-color: #A7A9AC;
			position: fixed; 
			width: 100%;
	 	
		}

	.main-menu {
		margin-left: 15px;
	}
	

	.logo {
		float: left;
		margin-left: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}


	h1 {
		font-family: 'Roboto', arial, sans-serif;
		font-weight: 400; 
		font-size: 30px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.about > img {
		float: right;
		width: 50%;
		max-width: 300px;
		display: inline-block;
	}

	.services article {
		width: 32.33333%;
		display: inline-block;
		padding-left: 3%;
		font-size: 14px;
	}

}

/******************* 514PX *******************/
/*___________________________________________*/

@media (min-width: 514px) {

	.main-menu {
			margin-top: 30px;
			float: right;
		}

	.thumbs li {
		display: inline-block;
		float: left;
		width: 33.3333333333%;
		margin: 0;
	}

	.thumbs li img {
		width: 100%;
		float: left;
	}

}
/******************* 628PX *******************/
/*___________________________________________*/

@media (min-width: 628px) {

		body {
			background: url(bigstock-White-Wood-Texture-Background-50738852-kopie.jpg);
			background-size: 100%;
			background-repeat: repeat;
			margin: 0;
		}

		img {
			max-width:100%;
		}

		.container {
			width: 90%;
			margin: 0 auto;
			height: 100%;

		}


		.bar-top {
			border-bottom: 20px;
			border-bottom-style: solid;
			border-color: #A7A9AC;
			position: fixed; 
			width: 90%;
	 	
		}

		.main-menu {
			margin-top: 30px;
			float: right;
		}

		.menu li {
			display: inline-block;
			margin-right: 15px;
		}

		.menu li a {
			font-weight: 300;
			font-size: 17px;

		}
}

/******************* 715PX *******************/
/*___________________________________________*/

@media (min-width: 715px) {

		.logo a img {
			height: 43px;
			line-height: 55px;
		}


		.thumbs li {
			display: inline-block;
			float: left;
			width: 20%;
			margin: 0;
	}

		.thumbs li img {
			width: 100%;
			float: left;
	}
}

/******************* 1000PX *******************/
/*___________________________________________*/	

@media (min-width: 1400px) {


		body {
			background: url(bigstock-White-Wood-Texture-Background-50738852-kopie.jpg);
			background-size: 100%;
			background-repeat: repeat;
			margin: 0;
		}

		img {
			max-width:100%;
		}

		.container {
			width: 70%;
			margin: 0 auto;
			height: 100%;

		}


		.bar-top {
			border-bottom: 20px;
			border-bottom-style: solid;
			border-color: #A7A9AC;
			position: fixed; 
			width: 70%;
	 	
		}

}

/***********************************************/


		*, *:before, *:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
